{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="col-sm-12 col-md-9 col-lg-10 p-2">
        <div id="content" class="border-secondary">
            <div class="content-block">
                <h3 class="border-bottom pl-2 pb-3 my-2">패스워드 변경 완료</h3>
                <h5 class='pl-2 pb-3 my-2'>pybo에서 다시 로그인 해주세요.</h5>
                <a class='pl-2 pb-3 my-2' href="{% url 'common:login'%}">로그인으로 돌아가기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}