{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="col-sm-12 col-md-9 col-lg-10 p-2">
        <div id="content" class="border-secondary">
            <div class="content-block">
                <h5 class="border-bottom pl-2 pb-3 my-2">비밀번호 초기화</h4>
                {% if validlink %}
                <form method="post" class="post-form py-3">
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="form-group">
                        <label for="new_password1">새로운 비밀번호</label>
                        <input type="password" class="form-control" name="new_password1" id="new_password1">
                    </div>
                    <div class="form-group">
                        <label for="new_password2">비밀번호 확인</label>
                        <input type="password" class="form-control" name="new_password2" id="new_password2">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">변경하기</button>
                </form>
                {% else %}
                <p>링크가 유효하지 않습니다.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}