{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 p-2">
            <!-- Sidebar  -->
            <nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    {% for cat in category_list %}
                        {% if cat == category %}
                            <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
                        {% else %}
                            <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 p-2">
            <div id="content" class="border-top border-secondary">
                <div class="content-block">
                    <h5 class="border-bottom pl-2 pb-3 my-2">비밀번호를 잊으셨나요?</h5>
                    <form method="post" class="post-form py-3" action="{% url 'common:password_reset' %}">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success my-3" role="alert">
                                        {{ message.message }}
                                    </div>
                                {% endif %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger my-3" role="alert">
                                        {{ message.message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <div class="form-group">
                                <label for="username">사용자ID</label>
                                <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group">
                                <label for="email">등록한 이메일</label>
                                <input type="text" class="form-control" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}">
                            </div>
                        </div>
                        <div class="my-3">
                            <a>로그인으로 돌아가기</a>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">보내기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}