<nav class="navbar navbar-expand-lg navbar-ligth bg-light border-bottom">
    <a class="navbar-brand" href="{%url 'pybo:index'%}">Pybo</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'common:profile_base' user.id %}">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'common:logout' %}">로그아웃</a>
            </li>
                {% else %}
            <li class="nav-item">    
                <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
            </li>
                {% endif %}
        </ul>
    </div>
</nav>