<div class="col-sm-12 col-md-3 col-lg-2 p-2">
    <!-- Sidebar  -->
    <nav id="sidebar" class="border-top border-secondary">
        <div class="list-group">
            {% for cat in category_list %}
                {% if cat == category %}
                    <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
                {% else %}
                    <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{{ cat.get_absolute_url }}">{{ cat.description }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
</div>