{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        {% include "slidebar.html" %}
        <div class="col-sm-12 col-md-9 col-lg-10 p-2">
            <div id="content" class="border-top border-secondary">
                <div class="content_block">

                    <h4 class="border-bottom pb-2 my-3">{{ profile_user.username }} 님의 마이페이지</h4>
                    {% include "common/profile/profile_tabs.html" %}
                    
                    <div id="profile_base">
                        {% if user == profile_user %}
                        <div class="profile_title">이메일</div>
                        <p class="mb-4">{{ profile_user.email }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}